<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="@img/favicon-forkio.png" />
    <title>@@title</title>
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="@img/favicon-gulp.png" />
    <link href="./dist/css/styles.min.css" rel="stylesheet" />
</head>
<!-- ЗДЕСЬ НИЧЕГО ПИСАТЬ НЕЛЬЗЯ! -->
