html {
    height: 100%;
}

body {
    font-family: "Montserrat", "sans serif";
    height: 100%;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

// здесь только общие стили для ВСЕЙ страницы целиком
